body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: white;
  text-align: center;
}

/* ///////////////////// */

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

#config {
  margin: 5rem auto 0;
  width: 24rem;
}
#config .count {
  padding: 0.25rem 0;
  text-align: center;
  color: #fff;
  background: #333;
  border-radius: 4px;
}

#config div,
select {
  margin-bottom: 1.5rem;
  width: inherit;
}

#config input,
select {
  padding: 0 0.5rem;
  width: inherit;
  height: 2rem;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}

#config input[type="submit"] {
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background: #0971f1;
  cursor: pointer;
}

#config p {
  margin-top: 0.5rem;
  color: #ff9900;
}
